extends layout

prepend title
  - let section = title;

block content
  form(action=action, method="POST")
    - let index = 0;
    each caption in quotes
      unless index
        hr
      unless caption.uname == uname
        lable 
          h2 #{caption.quote}
        - let cardpicker = "picker_"+caption.id
        - let selected = caption.selected
        if caption.cards
          - cards = caption.cards
        include cards
      - ++index
    input(type="submit", class="btn btn-primary", value="Submit")
  
  div
    | Stage Ends
    |
    b #{enddate.toISOString().replace(/[A-Z].*/, '')}
