extends layout

prepend title
  - let section = "";
  script(type="text/javascript").
    $(document).on('click','.nav-link.active', function(){
      var href = $(this).attr('href').substring(1);
      //alert(href);
      $(this).removeClass('active');
      $('.tab-pane[id="'+ href +'"]').removeClass('active');
    })

block content
  ul(class="nav nav-tabs"  role="tablist")
    li.nav-item
      a(class="nav-link active" data-toggle="tab", href="#signin") Sign In
    li.nav-item
      a(class="nav-link" data-toggle="tab", href="#signup") Sign Up
  div.tab-content
    div(id="signin", class="tab-pane fade in active show")
      include login
    div(id="signup", class="tab-pane fade")
      include register
