extends layout

prepend title
  - let section = "";
  script(type="text/javascript").
    $(document).on('click','.nav-link.active', function(){
      var href = $(this).attr('href').substring(1);
      //alert(href);
      $(this).removeClass('active');
      $('.tab-pane[id="'+ href +'"]').removeClass('active');
    })

block content
  ul(class="nav nav-tabs"  role="tablist")
    li.nav-item
      a(class="nav-link "+(register?"":"active"),data-toggle="tab",href="#signin") 
        | #{t('sign_in')}
    li.nav-item
      a(class="nav-link "+(register?"active":""),data-toggle="tab",href="#signup")
        | #{t('sign_up')} 
  div.tab-content
    div(id="signin", class="tab-pane fade "+(register?"":"in active show"))
      include login
    div(id="signup", class="tab-pane fade "+(register?"in active show":""))
      include register
