doctype html
html
  head
    title Dixit Online - #{user.name}'s Profile
    link(href='/css/main.css', rel='stylesheet')
  body
    h1 #{user.name}'s Profile
    a(href="/logout") Logout

    if games && Object.keys(games).length > 0
      - let gamesarray = games
      h3 Your Active Games
      include gamestable
    else
      h3 Your Active Games - None

    if other && Object.keys(other).length > 0
      - let maxdisplay = 5;
      - let gamesarray = other
      h3 Joinable Games
      include gamestable
      
      if Object.keys(other).length >= maxdisplay
        a(href='/search') (more)
    else
      h3 Joinable Games - None

    if archived && Object.keys(archived).length > 0
      - let maxdisplay = 5;
      - let gamesarray = archived
      h3 Archived Games
      include gamestable
      
      if Object.keys(archived).length >= maxdisplay
        a(href='/archive') (more)
    else
      h3 Archived Games - None

    div
      a(href="/create") Create Game
