extends layout

prepend title
  - let gamename   = user.name+"'s Profile";
  - let maxdisplay = 6;
  unless uname
    - let uname = user.username;

block content
  div
    if games && Object.keys(games).length > 0
      - let gamesarray = games
      h3 Active Games
      - let timetag = 'Stage End Date'
      include gamestable

      if Object.keys(games).length >= maxdisplay
        a(class="btn btn-primary" href='/active') more
    else
      h3 Active Games - None

    if other && Object.keys(other).length > 0
      - let maxdisplay = 5;
      - let gamesarray = other
      - let timetag = 'Sign Up Before'
      h3 Joinable Games
      include gamestable
      
      if Object.keys(other).length >= maxdisplay
        a(class="btn btn-primary" href='/search') more
    else
      h3 Joinable Games - None

    if archived && Object.keys(archived).length > 0
      - let maxdisplay = 5;
      - let gamesarray = archived
      - let timetag = 'Game End Date'
      h3 Archived Games
      include gamestable
      
      if Object.keys(archived).length >= maxdisplay
        a(class="btn btn-primary" href='/archive') more
    else
      h3 Archived Games - None

    div
      a(class="btn btn-primary" href="/create") Create New Game
