extends layout

prepend title
  - let waiting = 0;
  - let section = "Waiting";

block content
  - let admin = uname === players[0].uname;
  div.table-responsive
    table(class="table table-striped table-bordered")
      - let index = 0
      tr
        th(colspan=3) Waiting
      tr
        th(style="width:3%") #
        th                   Name
        th                   Status
      each player in players
        if player.stat === 'Waiting'
          - ++waiting;
        tr
          td #{++index}
          td #{player.name}
          td #{player.stat}
    div
      | Stage Ends
      |
      b #{enddate.toISOString().replace(/[A-Z].*/, '')}
    div
      if admin && waiting === 0
        form.btn-group(action="/next/"+gameid, method="POST")
          a(href="?edit", class="btn btn-primary") Edit
          button(type='submit', class="btn btn-success") Next
      else
        a(href="?edit", class="btn btn-primary") Edit
        
