.card {
  margin: 0 0 0 10 !important;
  float: none;
}

img.gamecard {
  /* IMAGE STYLES */
  border: 3px solid #000;
  margin: 0 auto;
}

img.clickable-card:hover, .row > div > .card > input + img.gamecard:hover {
  opacity: 0.45;
  cursor: pointer;
}

.row > div > .card > input {
  /* HIDE RADIO */
  visibility: hidden;   /* Makes input not-clickable */
  position:   absolute; /* Remove input from document flow */
}

.row > div > .card > input:checked + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  box-shadow: 0 0 0 3px #f00;
}

.f {
  border: 1px solid green;
}
.o {
  border: 1px solid blue;
}

.f.card-header, .f.card-footer {
  background: rgba(0, 240, 0, .1);
}

.o.card-header, .o.card-footer {
  background: rgba(0, 0, 240, .1);
}

.f.card-header > .btn:hover, .f.card-footer > .btn:hover {
  background: rgba(0, 240, 0, .6);
}

.o.card-header > .btn:hover, .o.card-footer > .btn:hover {
  background: rgba(0, 0, 240, .6);
}

.row > div > .card > .card-header, .row > div > .card > .card-footer {
  height:     30px;
  max-height: 30px;
  padding:    3px;
}

/*
@media (min-width: @screen-sm-min) {
  .box {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media (min-width: @screen-md-min) {
  .box {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}
@media (min-width: @screen-lg-min) {
  .box {
    width: 25%;
    padding-bottom: 25%;
  }
}
*/
